absl-py>=1.3.0
appdirs==1.4.4
asttokens==2.2.0
astunparse==1.6.3
attrs==22.1.0
audioread==3.0.0
backcall==0.2.0
cachetools==5.2.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
click==8.1.3
coloredlogs==15.0.1
colorlog==6.7.0
commonmark==0.9.1
contourpy==1.0.6
cycler==0.11.0
decorator==5.1.1
denoiser==0.1.5
evdev==1.6.0
exceptiongroup==1.0.4
executing==1.2.0
fastapi==0.95.1
Flask==2.2.2
flatbuffers==22.11.23
Flask-Cors==3.0.10
fonttools==4.38.0
gast==0.4.0
google-auth==2.14.1
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.51.1
h5py==3.7.0
humanfriendly==10.0
hydra-colorlog==0.1.4
hydra-core==0.11.3
hypothesis==6.58.2
idna==3.4
imageio==2.22.4
importlib-metadata==5.1.0
ipython==8.7.0
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
joblib==1.2.0
julius==0.2.7
keras==2.11.0
kiwisolver==1.4.4
libclang==14.0.6
librosa==0.9.1
llvmlite==0.39.1
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.6.2
matplotlib-inline==0.1.6
mpmath==1.2.1
MyQR==2.3.1
netaddr==0.8.0
netifaces==0.11.0
numba==0.56.4
numpy==1.23.5
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
oauthlib==3.2.2
omegaconf==1.4.1
onnxruntime-gpu==1.13.1
opencv-contrib-python==4.6.0.66
opencv-python==4.6.0.66
opt-einsum==3.3.0
packaging==21.3
pandas==1.5.2
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.3.0
pooch==1.6.0
prompt-toolkit==3.0.33
protobuf==3.19.6
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pyctcdecode==0.4.0
Pygments==2.13.0
pygtrie==2.5.0
pynput==1.7.6
pyparsing==3.0.9
pypi-kenlm==0.1.20220713
pystoi==0.3.3
python-dateutil==2.8.2
python-speech-features==0.6
python-xlib==0.32
pytz==2022.6
PyYAML==6.0
requests==2.28.1
requests-oauthlib==1.3.1
resampy==0.4.2
rich==12.6.0
robomaster==0.1.1.68
rsa==4.9
scikit-learn==1.1.3
scipy==1.9.3
seaborn==0.12.1
six==1.16.0
sortedcontainers==2.4.0
sounddevice==0.4.5
soundfile==0.11.0
stack-data==0.6.2
starlette==0.26.1
sympy==1.11.1
tensorboard==2.11.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.28.0
termcolor==2.1.1
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tqdm==4.64.1
traitlets==5.6.0
typing_extensions==4.4.0
urllib3==1.26.13
wcwidth==0.2.5
Werkzeug==2.2.2
wrapt==1.14.1
zipp==3.11.0
